<!DOCTYPE html>
<meta charset="UTF-8">

<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<title>Husky</title>
	<style type="text/css">
		div {
			
		}
		input {
		    float: center;
		    width: 100%;

		    /* for the right side shifted glitch */
		    -ms-box-sizing: border-box; /* ie8 */
		    -khtml-box-sizing: border-box; /* konqueror */
		    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		    box-sizing: border-box;         /* Opera/IE 8+ */
		    box-sizing: border-box; /* css3 rec */
		}
	</style>
</head>

<body>
	<div id="chat">
		<p>	Wiki </p>

	</div>
	

	<form onsubmit="return update()">
		<input type="text" id="query"
		width="100%" name="query"/>
	</form>

	<a href=# id=calculate>calculate server side</a>
	
</body>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        query: $('input[name="query"]').val()
      }, function(data) {
      	var para = document.createElement("p");
		para.innerHTML = data.result;
      	document.getElementById("chat").appendChild(para);
		messageBox.value = "";
      });
      return false;
    });
  });
</script>

</html>